#Logo-Bar {
  height: 0.5in;
}

#Control-Area {
  height: 6in;
}

#Graphs-Area {
  height: 6in;
}

#Foods-Panel {
  width: 2in;
}

#Sets-Panel {
  width: 2in;
}

#Schedule-Panel {
  width: 5in;
  height: 5in;
}
