{% load static %}

<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Cook</title>
  <link rel="stylesheet" href="{% static 'css/default.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />

  <script type="text/javascript" src="{% static 'js/callbacks.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/operations.js' %}"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
  <!-- Logo Bar Div -->
  <div id="Logo-Bar">
    <h2>我不是厨神</h2>
  </div>

  <div>
    <h3>Form Demo</h3>
    <form action="form_action.asp" method="get">
      <p>First name: <input type="text" name="fname" /></p>
      <p>Last name: <input type="text" name="lname" /></p>
      <input type="submit" value="Submit" />
    </form>
  </div>

  <!-- Control Area Div -->
  <div id="Control-Area">
    <h3>Control Area</h3>
    <div class="flexView">

      <div id="Foods-Panel">
        <h4>Foods</h4>
        <div>
          <input type="text" id="input-addNewFood" onchange="input_onchange(this, addNewFood);"></input>
        </div>
        <div id="Foods-List" id="div-foods-list"></div>
      </div>

      <div id="Sets-Panel">
        <h4>Sets</h4>
        <div>
          <input type="text" id="input-addNewSet"></input>
        </div>
        <div id="Sets-List" id="div-sets-list"></div>
      </div>

      <div id="Schedule-Panel">
        <h4>Schedule</h4>
        <div id="Schedule-List"></div>
      </div>
    </div>
  </div>

  <!-- Graph Area Div -->
  <div id="Graphs-Area">
    <h3>Graphs Area</h3>
  </div>
</body>

</html>